streamlit
opencv-python-headless
facenet-pytorch
torch
numpy
pandas
Pillow
mediapipe
geopy
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pygments==2.19.1
mdurl==0.1.2
markdown-it-py==3.0.0
rich==14.0.0
