pip>=25.1.1
streamlit
opencv-python-headless
facenet-pytorch
torch
numpy
pandas
Pillow
mediapipe
geopy
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pygments
mdurl
markdown-it-py
rich
