streamlit
numpy<2.0
opencv-python
torch==2.0.1
torchvision==0.15.2
Pillow
facenet-pytorch
pandas
geopy
gspread
streamlit_js_eval==0.1.7
google-auth
streamlit-autorefresh
google-api-python-client
